@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

* {
    margin: 0;
    padding: 0;
    transition: color ease 0.5s;
    font-weight: 400;
}
 
html, body{  
    min-height: 100%;
}

body {
    font-family: 'Fredoka', sans-serif;
    color: #eff12;
    background: linear-gradient(to right, pink,hotpink,green,darkgreen,indigo,violet); 
    line-height: 1.25;
}

a {
    color: #78909c;
    text-decoration: none;
    margin-right: 4vw;
}

a:hover {
    color: rgba(0, 209, 255, 1.0);
    text-decoration: underline;
}

header, main, footer {
    width: 80vw;
    margin: 0;
    padding: 5vh 10vw;
}

header {
    position: absolute;
    top: 0;
}

header p{
    padding-left:1.5rem;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" viewBox="0 0 16 16"><path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/><path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/></svg>');
    background-repeat:no-repeat;
    background-position: 0 0.2rem;
}

main h1 {
    margin-top: 9vw;
    font-size: calc(2rem + 4vw);
    text-decoration-line: underline;
    text-decoration-color: hotpink;


}

main h1 span {
    color: #b0bea7;
}

footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}